/* Шрифт */
@import url('../../styles/vendor/fonts/fonts.css');

/* Глобальные правила */
@import url('../../styles/globals.css');

/* Переменные */
@import url('../../styles/variables.css');

/* Основной контейнер со всеми секциями */
@import url('../../styles/blocks/container/container.css');

.buttons-session-list {
  display: flex;
  align-items: center;
  gap: 20px;
}
